/ {
    behaviors {

        ae: ae {
            compatible = "zmk,behavior-unicode";
            #binding-cells = <0>;
            code = <0x00E4>; // ä
        };

        oe: oe {
            compatible = "zmk,behavior-unicode";
            #binding-cells = <0>;
            code = <0x00F6>; // ö
        };

        ue: ue {
            compatible = "zmk,behavior-unicode";
            #binding-cells = <0>;
            code = <0x00FC>; // ü
        };

        eur: eur {
            compatible = "zmk,behavior-unicode";
            #binding-cells = <0>;
            code = <0x20AC>; // €
        };

    };
};
